# Project exclude paths
__pycache__/
/data/datasets/iscx2016vpn-pytorch/*
/data/datasets/iscx2016vpn-pytorch-nonVPNonly/
/data/datasets/iscx2016vpn/
/data/datasets/iscx2016vpn-extracted-pcaps/
/data/datasets/iscx2016vpn-extracted-pcaps-nonVPNonly/